@font-face {
    font-family: 'Lexend Deca';
    src: url(fonts/LexendDeca-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Big Shoulders Display';
    src: url(fonts/BigShouldersDisplay-VariableFont_wght.ttf);
}


.container {
    font-size: 15px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
    height: 96vh;
}

img{
    margin-top: 45px;
    margin-left: 46px;
    align-items: top;
}

h1{
    font-family: 'Big Shoulders Display';
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 46px;
}

p{
    letter-spacing: 1px;
    font-family: 'Lexend Deca';
    font-size: small;
    font-weight: 450;
    padding-left: 46px;
    padding-right: 76px;
    text-align: left;
}

button{
    width: 150px;
    height: 40px;
    margin-top: 40%;
    margin-left: 15%;
    text-align: center;
    color: orange;
    background-color: white;
    border: none;
    border-radius: 50px;
}

.Sedans {
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    width: 330px;
    height: 500px;
    background-color:hsl(31, 77%, 52%);
}

.SUVs {
    width: 330px;
    height: 500px;
    background-color: hsl(184, 100%, 22%);
}

.Luxury {
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    width: 330px;
    height: 500px;
    background-color: hsl(179, 100%, 13%);
}

footer {
    text-align: center;
    font-size: small;
    position: relative;
    bottom: 0;
}